
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--gray-dark);
}
.container {
border: 1px solid black;
height: 90vh;
margin: 20px auto;
display: flex;
flex-direction: column;
justify-content: center;

align-items: center;
width: 80%;
background: linear-gradient(180deg, #14131B 0%, #08070B 100%);
}
h2 {
margin-bottom: 30px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #ffd700;
opacity: 0.8;
font-size: 20px;
}
.grid {

  
    min-width: 400px;
    height: 420px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px minmax(300px, auto);
    grid-row-gap: 20px;
 

    
}
.result {
    border:  1px solid black;
    display: flex;
    background-color: hsl(248, 10%, 15%);
    align-items: center;
    border: none;
    overflow: hidden;

    border-radius: 2px;
    justify-content: center;
}

.result input 
{
    
    width: 100%;
   
    height: 90%;
    background-color: inherit;
    border: none;
    color: white;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
    padding: 20px, 18px;
    outline: none;
   
}
img {
    margin-left:  -70px;
    cursor: pointer;
    width: 18px;
}
img:hover {
  opacity: 0.6;
  
}
.option {
    border: none;
    background-color: hsl(248, 10%, 15%);
    border-radius: 2px;
    padding: 18px 22px ;
}
.option .show {
display: flex;
justify-content: space-between;
align-items: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: #fff;
font-size: 16px;
}
.show span {
    font-size: 30px;
    color: #ffd700;
}

.pick 
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* scroll bar  */
#len 
{
    width: 100%;
    background-color: #08070B;
    height: 5px;
    -webkit-appearance: none;
    border-radius: 3px;
    outline: none;
    overflow: hidden;

 
}
#len::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 13px;
  
    height: 20px;
    border-radius: 50%;
    background: #ffd700;
    box-shadow: -410px 0 0 400px #00fd0a;
    cursor: pointer;


}

label {
    display: flex;
    margin-top: 16px;

}
label p {
    color: #fff;
margin-left: -40px;
}


.action 
{

    margin-top: 20px;

}
.action .first 
{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #14131B;
 
    padding: 10px 20px;

}
h3{
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
color: #fff;
opacity: 0.5;

}
.bar
{
    width: 9px;
    height: 22px;
   
    margin: 0 3px;
}
.level
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
   
}
.level span {
    color: #fff;
    display: inline-block;

    margin-right: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bar {
    background-color: #00fd0a;
    border-radius: 1px;
    
}
.bar:last-child 
{
    background-color: #08070B;
    border: 1.5px solid #fff;
}

.second
{
     margin-top: 15px;
    
  

    
    
    
}
button
{
    width: 100%;
    height: 45px;
    border-radius: 2px;
   border: 1px solid #00fd0a;
   background-color: inherit;
   color: #00fd0a;
   background-color: inherit;
   overflow: hidden;
   position: relative;
   cursor: pointer;
   
}
.second img
{
position: absolute;
margin-left: -130px;
margin-top: 18px;
 
}
button:hover{
    border: 1px solid #ffd700;
    color: #ffd700;
}

.err
{
    color: var(--danger);
}

footer {
    text-align: center;
    color: #ffd700;
}

@media screen and (max-width: 600px) {

    .container {

        border: 1px solid black;
        height: 90vh;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: linear-gradient(180deg, #14131B 0%, #08070B 100%);
        }
        h2 {
        margin-bottom: 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #ffd700;
        opacity: 0.8;
        font-size: 20px;
        }
        .grid {
        
          
            min-width: 350px;
            height: 420px;
            margin-bottom: 50px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 50px minmax(300px, auto);
            grid-row-gap: 20px;
         
        
            
        }
        img {
       
            
            cursor: pointer;
            width: 18px;
        }
.result input 
{
    width: 100%;
   
    height: 90%;

    font-size: 19px;
  
}
label p {
    color: #fff;
margin-left: -40px;
font-size: 14.5px;
}
.second img
{
position: absolute;
margin-left: -110px;
margin-top: 18px;
 
}

}